@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#f4f0ea;
    min-height: 100vh;
}

header{
    padding: 2rem;
    margin: 0.5rem;
    background-color: #120c2e;
    border: 5px solid #97ce4c;
    border-radius: 20px;
    text-align: center;
}

main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.texto1{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
}

.texto2{
    text-align: center;
    padding: 0.6rem;
    border:#97ce4c;
    border-radius: 50px;
    font-family: "Quicksand", sans-serif;
}

.texto3{
    display: flex;
    flex-direction: column;
}

.escrevernome{
    margin: auto;

}

.imagem-e-botao{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    margin-top: 3rem;
    flex-wrap: wrap;
    text-align: center;
}

.textopreto{
    color: black;
}

.botao{
    background-color: #120c2e;
    color: #97ce4c;
    border: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    padding: 12px 80px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.botao:hover{
    background-color: #97ce4c;
    color: #120c2e;
    transform: scale(1.05);
}

#rick-voando{
    width:200px;
    height: auto;
    position: relative;
    animation: flutuar 1s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(30px);
    }
}

.botao2{
    background-color: #120c2e;
    color: #97ce4c;
    border: none;
    font-family: "Bebas Neue", sans-serif;
    max-width: 800px;
    margin: 4rem;
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao2:hover{
    background-color: #97ce4c;
    color: #120c2e;
    transform: scale(1.05);
}

}
h1{
    color: #97ce4c;
    font-family: "Bebas Neue", sans-serif;
}
h2{
    color:#97ce4c;
    font-family: "Bebas Neue", sans-serif;
}

select, input[type="email"], input[type="text"], textarea {
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    background-color: rgb(19, 19, 19);
    border-radius: 50px;
    text-align: center;
    padding: 0.2rem;
    color: #b2daed;
    border: #97ce4c solid 1px;
    outline: none;
}

details{
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
    padding: 1rem;
}

summary{
    margin: 0.5rem;
    cursor: pointer;
    color: #97ce4c;
}

fieldset{
    color: #97ce4c;
}

li{
    color: #b2daed;
    margin: 0.5rem;
}

input[type="radio"]{
    accent-color: ##b2daed;
}

input::placeholder {
    color: #b2daed;
}

footer{
    font-size: 12px;
    text-align: center;
}

footer a{
    color: #97ce4c;
    text-decoration: none;
}

